APP_HOST=0.0.0.0
APP_PORT=8000
ROUTING_PROVIDER=ors
OPENROUTESERVICE_API_KEY=
OPENROUTESERVICE_BASE_URL=https://api.openrouteservice.org
REQUEST_TIMEOUT_SECONDS=15
HIN_DATA_SOURCE=data/hin.geojson
CIP_DATA_SOURCE=https://services1.arcgis.com/k3vhq11XkBNeeOfM/arcgis/rest/services/FY23_CIP_Polygon_Layers/FeatureServer/0/query?where=1%3D1&outFields=*&f=geojson